<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOWDY!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item *ngFor = "let item of items ">
      <ion-avatar slot = "start">
        <ion-img [src] = "item.imageUrl"></ion-img>
        </ion-avatar>
      <ion-label>
        {{item.title}}
        </ion-label>
        <ion-label>
          {{item.description}}
        </ion-label>
      </ion-item>

        <ion-list>
          <ion-item>
            <ion-label>comments</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Toggle</ion-label>
            <ion-toggle slot="end"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Radio</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Checkbox</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-list>





  </ion-list>
</ion-content>
