<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header!-->
<!--h2> SIGN IN - TEMPLATE DRIVEN FORMS</h2>
<ion-content>
  <div class="container">

    <form class="row g-3" #signinform = "ngForm" (ngSubmit)="loginUser(signinform);">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name = "emailAddressField" ngModel email required  >
        <small class ="form-text text-muted" > enter the email Address </small>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4" name ="passwordField" ngModel required >
      </div>
      <div class="col-md-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name ="addressField" ngModel required >
      </div>

      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" name ="terms" ngModel required>
          <label class="form-check-label" for="gridCheck">
            Agree To terms
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" [disabled]="!signinform.valid"> Submit</button>
      </div>
    </form>
  </div>
</ion-content!-->

<ion-content>
  <div class ="form-group">
    <h2>Add User</h2>
    <label>User Name:</label>
    <input type = "text" class ="form-control" #userinput>
    <div class ="mt-2">
      <button class = "btn btn-primary" (click)="onUserAdded()"> Add User</button>
    </div>
  </div>
</ion-content>
